body {
  overflow: hidden;
  background: linear-gradient(135deg, #ff008e, #f2af35);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#bodycontainer {
  width: auto;
  height: auto;
  align-items: center;
  margin-top: 1vh;
}

h1 {
  display: inline;
  text-align: center;
  padding: 2vw;
  color: rgb(203, 255, 33);
  margin: 20px;
  font-size: 50px;
  text-align: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(222, 222, 222);
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
header{
  text-align:center;
}
.tableContainer {
  background-color: white;
  border-radius: 1%;
  border: 5px solid rgb(255, 157, 0);
  margin: 0vw 10vw 10vw 20vw;
  padding: 8vw 8vw 8vw 8vw;
}

.tableContainer .tableItem {
  padding: 5%;
  padding-left: 0;
}

.tableContainer .tableDescription {
  width: 30vw;
}

.tableContainer .tableHeader {
  text-align: left;
  font-size: 24px;
  padding-bottom: 5%;
}

.tableButton {
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 10px;
  background-color: rgb(255, 157, 0);
  color: white;
  cursor: pointer;
}

nav {
  display: inline;
}

.newTaskButton {
  cursor: pointer;
  font-size: 18px;
  display: inline;
  border-radius: 8px;
  border: 1px;
  padding: 1vw 1.4vw 1vw 1.4vw;
  background-color: rgb(255, 157, 0);
  color: white;
  margin: 0vw 1vw 1vw 1vw;
  box-sizing: border-box;
}

label {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  width: 150px;
}

#status {
  text-align: left;
}

.submitButton {
  cursor: pointer;
  font-size: 16px;
  display: inline;
  border-radius: 8px;
  border: none;
  padding: 1px;
  background-color: rgb(222, 0, 137);
  color: white;
  margin-top: 3vw;
  margin-left: 6vw;
  padding: 2vw;
  box-sizing: border-box;x
}

.newTaskContainer {
  margin: auto;
  margin-top: 10vh;
  margin-left: 35vw;
}

  div {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  #new-task {
    background-color: hsl(0, 0%, 42%);
    margin: 20%;
    border-radius: 10%;
  }

  .create-task-container {
    background-color: rgba(74, 77, 69, 0.5);
    border-radius: 2%;
    align-items: center;
  }