
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header,
h1 {
  display: inline;
}

h1 {
  text-align: center;
  margin-left: 10vw;
  padding: 2vw;
  border: 1px solid black;
  border-radius: 10px;
}
@media screen and (max-width: 800px) {
  h1 {
    margin: 1vw;
    margin-left: 5vw;
    font-size: 24px;
  }
}

.tableContainer {
  background-color: white;
  border: 5px solid black;
  margin: 10vw;
  margin-top: 0;
  padding: 8vw;
}
@media screen and (max-width: 800px) {
  .tableContainer {
    margin: 5vw;
    margin-top: 0;
    padding: 5vw;
  }
}
.tableContainer .tableItem {
  padding: 5%;
  padding-left: 0;
}
@media screen and (max-width: 800px) {
  .tableContainer .tableItem {
    font-size: 12px;
    padding: 2vw;
    padding-left: 0;
  }
}
.tableContainer .tableDescription {
  width: 30vw;
}
.tableContainer .tableHeader {
  text-align: left;
  font-size: 24px;
  padding-bottom: 5%;
}
@media screen and (max-width: 800px) {
  .tableContainer .tableHeader {
    font-size: 16px;
  }
}

.tableButton {
  font-size: 16px;
  border-radius: 8px;
  border: none;
  padding: 10px;
  background-color: lightseagreen;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .tableButton {
    font-size: 10px;
  }
}

nav {
  display: inline;
}

.newTaskButton {
  cursor: pointer;
  font-size: 32px;
  display: inline;
  border-radius: 8px;
  border: none;
  padding: 5px;
  background-color: darkcyan;
  color: white;
  margin: 2vw;
  padding: 2vw;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .newTaskButton {
    margin: 1vw;
    margin-left: 5vw;
    font-size: 24px;
  }
}

label {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  width: 150px;
}

#status {
  text-align: left;
}

.submitButton {
  cursor: pointer;
  font-size: 16px;
  display: inline;
  border-radius: 8px;
  border: none;
  padding: 5px;
  background-color: darkcyan;
  color: white;
  margin-top: 2vw;
  padding: 2vw;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  .submitButton {
    margin: 1vw;
    margin-top: 5vw;
    font-size: 16px;
  }
}

.divContainer {
  margin: 10vw;
  margin-top: 0;
}
@media screen and (max-width: 800px) {
  .divContainer {
    margin: 5vw;
    margin-top: 0;
  }
}